docs/_build/
docs/_build/html
docs/content/future
docs/content/notebooks/POSEIDON_output
docs/content/notebooks/data
tests/POSEIDON_output
__pycache__
.DS_Store
*~
*.so
build/
dist/
POSEIDON.egg-info/
inputs/
run/POSEIDON_output/
.vscode
/planets
/Aerosol-Database-Make
*data_processed.hdf5
POSEIDON/hierarchical.py
inputs.zip
.direnv
inputs_new.zip
msg-2.0.2/
flake.nix
.python-version
README.md
pyproject.toml
uv.lock
run/sbi-logs
*conda*tar.gz
